nav {
    background-color: lightblue;
    width: fit-content;

}
nav a {
    color: cornflowerblue;
    font-size: 25px;
    padding: 15px 20px;

}
nav li{
    color: cornflowerblue;
    text-align: center;
    font-size: 25px;
}
nav ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
.listap{
    background-color: lightblue;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;


}
.img-producto {
    max-width: 300px;
    height: auto;
}
.img-ventas {
    max-width: 300px;
    height: auto;
}
h1{
    color:black;
}
footer{
    /*cambios el footer*/
    background-color: black;
    width: fit-content;
    color:white;
    font-size: 20px;
    margin-top: auto;


}
section p{
        font-size: 19px;
}

#hcontacto{
    /*cambios para el header de contacto*/
    background-color: lightblue;
    color: cornflowerblue;
    width: fit-content;
}
.listac{
    /*cambio de tamaño para lista de opciones de contacto*/
        font-size: 25px;
}
.desc{
    /*se alinea al centro la descripción de la pag*/
    text-align: center;
}
section a{
    /*Cambio de color para el link de section*/
    color: black;
}
/*CAMBIO DE COLOR PARA TODOE EL BODY*/
body{
    background-color: lightcyan;
}
/*CAMBIOS DE TAMAÑO PARA TABLET Y CELULAR*/
@media (max-width: 600px) {
    nav ul {
        flex-direction: column;
    }
}
@media (max-width: 1024px) {
    nav a {
        font-size: 20px;
    }
}

